@model StackOverflow.Web.Models.ProfileModel

@{
    ViewBag.Title = "Profile";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        @if (Model.ImageUrl != null)
                        {
                            <img src=@Model.ImageUrl alt="" class="img-rounded img-responsive" style="height: 128px; width: 128px"/>
                        }
                        else
                        {
                            <img src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" alt="" class="img-rounded img-responsive"/>
                        }
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.LastName)

                        </h4>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i> @Html.DisplayFor(model => model.Email)
                            <br />
                            <br />
                            <i class="glyphicon glyphicon-star"></i> @Html.DisplayFor(model => model.Reputacion)
                            <ul class="list-inline list-unstyled">
                                <li><span><i class="glyphicon glyphicon-calendar"></i> @Html.DisplayFor(model => model.RegistrationDate) </span></li>
                                <li>|</li>
                                <li><span><i class="glyphicon glyphicon-eye-open"></i> @Html.DisplayFor(model => model.Views) </span></li>
                                <li>|</li>
                                <li><span><i class="glyphicon glyphicon-eye-close"></i> @Html.DisplayFor(model => model.LastTimeSeen) </span></li>
                            </ul>
                           
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <strong>Latest 5 Questions</strong>

    @if (Model.QuestionList != null)
    {
        foreach (var q in Model.QuestionList)
        {

            if (q != null)
            {
                <div>
                    @Html.ActionLink(q.Title, "QuestionDetail", "Question", new { ID = q.Id }, null)   @q.CreationDate

                </div>
            }
        }
    }

    <hr>
    <strong>Latest 5 Answers</strong>
    @if (Model.AnswerList != null)
    {
        foreach (var q in Model.AnswerList)
        {

            if (q != null)
            {
                <div>
                    <div style="word-wrap:break-word;"> @Html.ActionLink(q.Description.Substring(0,20)+"...", "QuestionDetail", "Question", new { ID = q.QuestionId }, null) @q.CreationDate </div>
                </div>
            }
        }
    }
</div>