@model StackOverflow.Web.Models.ProfileModel

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reputacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reputacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Change Password", "ChangePassword", new {  id = Model.UserID})
</p>
