@model StackOverflow.Web.Models.ProfileModel

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        @if (Model.ImageUrl != null)
                        {
                            <img src=@Model.ImageUrl alt="" class="img-rounded img-responsive" style="height: 128px; width: 128px"/>
                        }
                        else
                        {
                            <img src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" alt="" class="img-rounded img-responsive"/>
                        }
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            @Html.DisplayFor(model => model.Name)  @Html.DisplayFor(model => model.LastName)
                        </h4>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i> @Html.DisplayFor(model => model.Email)
                            <br/>
                            <br/>
                            <i class="glyphicon glyphicon-star"></i> @Html.DisplayFor(model => model.Reputacion)
                        </p>
                        @Html.ActionLink("Change Password", "ChangePassword", new { id = Model.UserID })| @Html.ActionLink("Edit","EditProfile")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
