@using System.Web.Mvc.Html
@using System.Web.UI.WebControls
@model IEnumerable<StackOverflow.Web.Models.QuestionListModel>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Questions</h2>
            <h5>@Html.ActionLink("Create New Question", "NewQuestion")</h5>
            <div>
                <strong>Order By</strong><ul class="list-inline list-unstyled">
    <li><span> @Html.ActionLink("Latest", "OrerByDate")</span></li>
    <li>|</li>
    <li><span> @Html.ActionLink("Votes", "OrerByVotes")</span></li>
    <li>|</li>
    <li><span> @Html.ActionLink("Answers", "OrerByAnswers")</span></li>
    <li>|</li>
    <li><span> @Html.ActionLink("Views", "OrerByViews")</span></li>
</ul>
            </div>
         

            <hr />
            <section class="comment-list">
                <!-- First Comment -->
                @foreach (var item in Model)
                {
                    <article class="row">
                        <div class="col-md-2 col-sm-2 hidden-xs">
                            <figure class="thumbnail">
                                @if (item.ImageUrl != null)
                                {
                                    <img class="img-responsive" src=@item.ImageUrl style="height: 70px; width: 70px" />
                                }
                                else
                                {
                                    <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
                                }

                                <figcaption class="text-center">
                                    @if (item.OwnerID.Equals(ViewData["loginUser"]))
                                    {
                                        @Html.ActionLink(item.OwnerName, "UserProfile", "Account", new { id = item.OwnerID }, null)
                                    }
                                    else
                                    {
                                        @Html.ActionLink(item.OwnerName, "Profile", "Account", new { id = item.OwnerID }, null)
                                    }
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <div class="panel panel-default arrow left">
                                <div class="panel-body">
                                    <header class="text-left">
                                        <div class="comment-user">
                                            <i class="fa fa-user"></i> @Html.DisplayNameFor(model => model.Votes) : @Html.DisplayFor(modelItem => item.Votes)
                                            <div>@Html.DisplayNameFor(model => model.Answers) : @Html.DisplayFor(modelItem => item.Answers)</div>
                                            <div>@Html.DisplayNameFor(model => model.Views) : @Html.DisplayFor(modelItem => item.Views)</div>
                                        </div>
                                        <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i>@Html.DisplayFor(modelItem => item.CreationDate)</time>
                                        <div style="word-wrap: break-word;">@Html.ActionLink(item.Title, "QuestionDetail", new { ID = item.QuestionID })</div>
                                    </header>
                                </div>
                            </div>
                        </div>
                    </article>
                }
            </section>
        </div>
    </div>
</div>


