@using StackOverflow.Web.Controllers
@model StackOverflow.Web.Controllers.QuestionDetailModel

    <div>
        <hr/>
        @Html.ActionLink("UpVote", "UpVote", "Question", new { ID = Model.QuestionId }, null)
        <div>
            @Html.ActionLink("DownVote", "DownVote", "Question", new {ID = Model.QuestionId}, null)
        </div>

        <dl class="dl-horizontal">
     
                <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Decription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Decription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Votes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Votes)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new {/* id = Model.PrimaryKey */}) | @Html.ActionLink("AnswerList", "AnswerIndex", "Answer")
       
    </p>

