@using StackOverflow.Web.Controllers
@model StackOverflow.Web.Controllers.QuestionDetailModel
<div>
    <hr/>
    <dl class="dl-horizontal">
        <div class="row">
            <a href="@Url.Action("UpVote", "Question", new {ID = Model.QuestionId})">

                <img src="http://www.clker.com/cliparts/z/z/h/C/V/5/up-white-arrow-hi.png" style="height: 32px; width: 32px">
            </a>
            <a href="@Url.Action("DownVote", "Question", new {ID = Model.QuestionId})">

                <img src="http://i.imgur.com/c345P37.png?1" style="height: 32px; width: 32px;">
            </a>
        </div>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Decription)
        </dt>

        <dd>
            <div style="word-wrap: break-word;">
                @Html.DisplayFor(model => model.Decription)
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Votes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Votes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Views)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Views)
        </dd>

    </dl>
</div>
        @Html.ActionLink("Back to Questions", "Index") | @Html.ActionLink("Delete Question","DeleteQuestion",new{ID=Model.QuestionId},null)
   
@{ Html.RenderAction("CommentIndex", "Comment", new {Fid = Model.QuestionId});}
@Html.ActionLink("Create New Comment", "CreateComment", "Comment", new { Fid = Model.QuestionId.ToString() }, null)

<div class="row">
    @{ Html.RenderAction("AnswerIndex", "Answer", new {qID = Model.QuestionId});}
</div>
    <div class="row">
        @if (Context.User.Identity.IsAuthenticated)
        {
          Html.RenderAction("CreateAnswer", "Answer", new {qID = Model.QuestionId.ToString()});  
        }
    </div>

    