@using StackOverflow.Web.Controllers
@model StackOverflow.Web.Controllers.QuestionDetailModel

<div>
    <hr/>

    <dl class="dl-horizontal">
        <div class="row">
            <a href="@Url.Action("UpVote", "Question", new {ID = Model.QuestionId})">

                <img src="http://www.clker.com/cliparts/z/z/h/C/V/5/up-white-arrow-hi.png" style="height: 32px; width: 32px">
            </a>
            <a href="@Url.Action("DownVote", "Question", new {ID = Model.QuestionId})">

                <img src="http://i.imgur.com/c345P37.png?1" style="height: 32px; width: 32px; rotation: 180deg">
            </a>
        </div>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Decription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Decription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Votes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Votes)
        </dd>

    </dl>
</div>
    <p>
     @Html.ActionLink("Delete Question","DeleteQuestion",new{ID=Model.QuestionId},null)
    </p>
<p>
    @*@Html.ActionLink("Back to Questions", "Index") | @Html.ActionLink("AnswerList", "AnswerIndex", "Answer", new {qID = Model.QuestionId}, null)*@

<div class="row">
    @{ Html.RenderAction("AnswerIndex", "Answer", new {qID = Model.QuestionId});}
</div>

