@using System.Web.UI.WebControls
@model StackOverflow.Web.Models.AnswerDetailModel

<div>

    <hr/>

    <dl class="dl-horizontal">
      
        <div class="row">
            <a href="@Url.Action("UpVote", "Answer", new {ID = Model.AnswerID})">

                <img src="http://www.clker.com/cliparts/z/z/h/C/V/5/up-white-arrow-hi.png" style="height: 32px; width: 32px">
            </a>
            <a href="@Url.Action("DownVote", "Answer", new {ID = Model.AnswerID})">

                <img src="http://i.imgur.com/c345P37.png?1" style="height: 32px; width: 32px; rotation: 180deg">
            </a>
            <a href="@Url.Action("MarkAnswer", "Answer", new {ID = Model.AnswerID, qId = Model.QuestionID})">

                <img src="http://cliparts.co/cliparts/qcB/Bex/qcBBexbc5.png" style="height: 32px; width: 32px; rotation: 180deg">
            </a>
        </div>
       

        <dt>

            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Votes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Votes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Answers", "AnswerIndex","Answer",new{ID=Model.AnswerID,qID=Model.QuestionID},null) | @Html.ActionLink("Delete ", "DelteAnswer", "Answer", new { ID = Model.AnswerID, qID = Model.QuestionID }, null)
                                                                                                                  
</p>
