@using System.Web.Mvc.Html
@using StackOverflow.Domain.Entities
@model IEnumerable<StackOverflow.Web.Controllers.AnswerListModel>


<div class="container">
    <div class="row">
        <div class="col-md-8">

            <section class="comment-list">
                @foreach (var item in Model)
                {
                    <article class="row">
                        <div class="col-md-2 col-sm-2 hidden-xs">
                            <figure class="thumbnail">
                                @if (item.ImageUrl != null)
                                {
                                    <img class="img-responsive" src=@item.ImageUrl style="height: 70px; width: 70px"/>
                                }
                                else
                                {
                                    <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"/>
                                }
                                <figcaption class="text-center">@if (item.OwnerID.Equals(ViewData["loginUser"]))
                                                                {
                                                                    @Html.ActionLink(item.OwnerName, "UserProfile", "Account", new {id = item.OwnerID}, null)
                                                                }
                                                                else
                                                                {
                                                                    @Html.ActionLink(item.OwnerName, "Profile", "Account", new {id = item.OwnerID}, null)
                                                                }</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <div class="panel panel-default arrow left">
                                <div class="panel-body">
                                    <header class="text-left">
                                        <div class="comment-user"><i class="fa fa-user"></i> @Html.DisplayNameFor(model => model.Votes) : @Html.DisplayFor(modelItem => item.Votes)
                                        </div>
                                        <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i>@Html.DisplayFor(modelItem => item.CreationDate)</time>
                                    </header>
                                    <div class="comment-post">
                                        @{ Html.RenderAction("AnswerDetails", "Answer", new {id = item.AnswerID, qID = ViewData["id"]});}
                                        <p>
                                            Best Answer : @if (item.Marked)
                                                          {
                                                              <img src="https://cdn4.iconfinder.com/data/icons/pc_de_hamburg_icon_pack/32x32/bestseller.png"/>
                                                              @Html.ActionLink("Remove", "RemoveMarkAnswer", "Answer", new { ID = item.AnswerID, qId = Guid.Parse(ViewData["id"].ToString())},null)
                                                          }
                                            <div>
                                                @Html.ActionLink("Delete ", "DelteAnswer", "Answer", new {ID = item.AnswerID}, null)
                                            </div>

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
        <div class="row">
            @{ Html.RenderAction("CommentIndex", "Comment", new { Fid = item.AnswerID });}
        </div>
    <div class="row">

        @if (Context.User.Identity.IsAuthenticated)
        {
            using (Html.BeginForm("CreateAnswerComment", "Comment", new { Fid = item.AnswerID.ToString(), qid = ViewData["id"].ToString()}))
            {
                <div class="form-horizontal">
                        <div class="form-group">
                            @Html.Label("CreateComment", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("description", new { htmlAttributes = new { @class = "form-control" }, style = "width:400px; height:40px;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
            }
        }
    </div>

}
            </section>
        </div>
    </div>
</div>

